<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-caen-ble" version="1.0.0">
    <name>cordova-plugin-caen-ble</name>
    <description>Implement CAEN BLE protocol</description>
    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=6.3.0"/>
    </engines>
    <js-module src="www/ble.js" name="CaenBle">
        <clobbers target="CaenBle"/>
    </js-module>
    <platform name="android">
        <source-file src="src/android/CaenBle.java" target-dir="src/com/maestrale/maecaenble" />
        <source-file src="libs/CAENRFIDLibrary-release.aar" target-dir="libs" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MaeCaenBle">
                <param name="android-package" value="MaeCaenBle"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
        <feature name="MaeCaenBle">
            <param name="browser-package" value="MaeCaenBle"/>
        </feature>
        </config-file>
        <js-module src="src/browser/MaeCaenBLEProxy.js" name="MaeCaenBle">
            <runs/>
        </js-module>
    </platform>
</plugin>
